h1 { color:green ;}
/*h1 { color:green; } */
h1 { color:#3cb371; }
h2 { color:green ;}
/*h2 { color:green; } */
h2 { color:#3cb371; }
h3 { color:green ;}
/*h3 { color:green; } */
h3 { color:#3cb371; }
